body {
    background-color: white;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url("../imagens/wall.png");
    height: 100vh; /* Ocupa a tela inteira */
    justify-content: flex-start; /* Mantém a barra no topo */
    align-items: center; /* Centraliza o painel horizontalmente */
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: rgb(231, 230, 230);
    border-bottom: 5px solid #d1d11f;
    position: fixed; /* Fixa a barra no topo */
    top: 0;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px; /* Espaço para compensar a barra fixa */
    height: auto;
}

.panel-row {
    display: flex;
    justify-content: center; /* Centraliza os quadrados na linha */
    align-items: flex-start;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; /* Permite que os quadrados quebrem para a próxima linha */
    max-width: 480px; /* Define uma largura máxima para a linha */
}

.square {
    height: 150px;
    width: 150px;
    background: aquamarine;
    border: 1px solid, red;
}

.enemy {
    background-image: url(../imagens/ralph.png);
    background-size: cover;
    background-color: red;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 10px;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}
